body {
  margin: 0px;
  padding: 0px;
  border: solid;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

body a {
  text-decoration: none;
  color: black;
}

.fa-star {
  color: #0065fc;
}

/* header */

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.btn-inscrire a {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-weight: bold;
  font-size: 22px;
  color: #0065fc;
}

ul {
  width: 30%;
  margin-left: 55%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
}

ul li a:hover {
  color: #0065fc;
}

header {
  margin-bottom: 2rem;
}

hr {
  display: none;
}

/* section 1 */

.titre h2 br {
  display: none;
}

.fa-info-circle {
  color: blue;
  background-color: white;
}

/* localisation */

.localisation {
  margin-left: 10px;
  margin-right: 600px;
  margin-bottom: 2rem;
}

#zonerecherche {
  font-size: 1.2em;
  display: flex;
  margin-top: 1em;
  height: 40px;
}

#zonerecherche i {
  color: black;
  background-color: #f2f2f2;
  border-radius: 25% 0 0 25%;
  width: 40px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.logo-rechercher {
  display: none;
}

#zonerecherche input {
  width: 300px;
  border: 2px solid #f2f2f2;
  font-size: 1rem;
  font-weight: bold;
}

#zonerecherche a {
  text-decoration: none;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  width: 6em;
  padding-left: 1em;
  padding-right: 1em;
  color: #f2f2f2;
  font-size: 1em;
  display: flex;
  align-items: center;
}

/* filtres */

.filtres {
  width: 67rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filtres a {
  font-size: 17px;
  font-weight: bold;
  margin-left: 5rem;
}

.filtres i {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #d3d3d3;
  padding: 10px 10px;
  color: Blue;
  background-color: #deebff;
}

.filtres span {
  font-weight: bold;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: #f2f2f2;
  border-left: hidden;
  padding: 8px 25px 8px 25px;
  margin-left: -25px;
}

/* plus de 500 logements... */

.info {
  margin: 10px 35px 0 35px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.info span {
  display: flex;
  margin: 0 0 0 8px;
}

/* hébergements à Marseille */

.hebergements-a-marseille {
  width: 55rem;
  height: 40rem;
  border: solid;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 40% 40% 15%;
  grid-gap: 15px;
  justify-items: start;
}

.btn-hebergements-a-marseille {
  grid-column-start: 1;
  grid-row-start: 1;
  font-weight: bold;
  font-size: 18px;
}

/* cartes hébergements */

.hebergements-a-marseille img {
  width: 15rem;
  height: 7rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.auberge-de-la-cannebiere {
  background-color: white;
  grid-column-start: 1;
  grid-row-start: 2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height: 14rem;
  box-shadow: 0px 5px 5px lightgrey;
}

.hotel-du-port {
  background-color: white;
  grid-column-start: 2;
  grid-row-start: 2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height: 14rem;
  box-shadow: 0px 5px 5px lightgrey;
}

.hotel-Les-mouettes {
  background-color: white;
  grid-column-start: 3;
  grid-row-start: 2;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height: 14rem;
  box-shadow: 0px 5px 5px lightgrey;
}

.hotel-de-la-mer {
  background-color: white;
  grid-column-start: 1;
  grid-row-start: 3;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height: 14rem;
  box-shadow: 0px 5px 5px lightgrey;
}

.auberge-le-panier {
  background-color: white;
  grid-column-start: 2;
  grid-row-start: 3;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height: 14rem;
  box-shadow: 0px 5px 5px lightgrey;
}

.hotel-chez-amina {
  background-color: white;
  grid-column-start: 3;
  grid-row-start: 3;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height: 14rem;
  box-shadow: 0px 5px 5px lightgrey;
}

.afficher-plus {
  font-weight: bold;
  font-size: 18px;
  grid-column-start: 1;
  grid-row-start: 4;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.prix {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.etoile {
  margin-left: 1rem;
}

/* les plus populaires */

/* cartes les plus populaires */
.cartes-pop {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 38rem;
  margin-top: 2rem;
}

.cartes-pop div {
  width: 23rem;
  height: 9rem;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 5px 5px lightgrey;
}

.cartes-pop img {
  width: 8rem;
  height: 9rem;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.cartes-pop a {
  position: absolute;
  top: 1rem;
  right: 5rem;
  font-size: 18px;
  font-weight: bold;
}

.cartes-pop p {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 3rem;
  right: 6rem;
}

.cartes-pop span {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

section {
  width: 25rem;
  height: 43rem;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding-left: 2rem;
  padding-top: 1rem;
}

.fa-chart-line {
  position: absolute;
  font-size: larger;
  top: 2rem;
  right: 2rem;
}

/*main*/

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

/* activités à Marseille */

aside {
  margin-bottom: 5rem;
}
aside h3 {
  margin-left: 5rem;
  font-weight: bold;
  font-size: 20px;
}

.cartes-activites {
  width: 90%;
  height: 32rem;
  margin-left: 5%;
  margin-right: 6%;
  position: relative;
}
.cartes-activites div {
  width: 19rem;
  border-radius: 15px;
  box-shadow: 0px 5px 5px lightgrey;
}

.cartes-activites a {
  margin: 1rem;
  font-weight: bold;
  font-size: 18px;
}

.port {
  position: absolute;
  height: 32rem;
  margin-right: 4rem;
}
.port img {
  width: 19rem;
  height: 28rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fort {
  position: absolute;
  left: 23rem;
  height: 20rem;
}
.fort img {
  width: 19rem;
  height: 16rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 1rem;
}

.ile {
  position: absolute;
  top: 23rem;
  left: 23rem;
  height: 9rem;
}

.ile img {
  width: 19rem;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.calanques {
  position: absolute;
  left: 46rem;
  height: 32rem;
  margin-right: 4rem;
}

.calanques img {
  width: 19rem;
  height: 28rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.garde {
  position: absolute;
  left: 69rem;
  height: 15rem;
  margin-bottom: 1rem;
}
.garde img {
  width: 19rem;
  height: 11rem;
  object-fit: cover;
  padding-bottom: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.parc {
  position: absolute;
  top: 18rem;
  left: 69rem;
  height: 14rem;
  margin-bottom: 1rem;
}

.parc img {
  width: 19rem;
  height: 10rem;
  object-fit: cover;
  padding-bottom: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* footer */

.bas-de-page {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  grid-gap: 5px;
}

.a-propos {
  grid-column-start: 1;
  margin-left: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.nos-hebergements {
  grid-column-start: 2;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.assistance {
  grid-column-start: 3;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

/* media queries mobile */

/* header mobile */

@media only screen and (min-width: 10px) and (max-width: 700px) {
  .sidebar {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding-top: 30px;
  }

  .logo {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-right: 90px;
  }

  .btn-inscrire {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .btn-activites {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-right: 110px;
  }

  .btn-hebergement {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 0px;
  }

  .btn-hebergement a {
    color: black;
    font-weight: bold;
    font-size: 18px;
  }

  .btn-activites a {
    color: black;
    font-weight: bold;
    font-size: 18px;
  }

  .btn-hebergement a:hover {
    color: #0065fc;
    text-decoration: none;
    padding-bottom: 19px;
    border-bottom: 3px solid #0065fc;
  }

  .btn-activites a:hover {
    color: #0065fc;
    text-decoration: none;
    padding-bottom: 19px;
    border-bottom: 3px solid #0065fc;
  }

  hr {
    display: flex;
    color: #ededed;
    border-width: 2px;
  }

  .titre h2 br {
    display: block;
  }

  .titre p {
    margin-left: 25%;
    margin-right: 1%;
  }

  .localisation {
    margin-left: 180px;
  }

  #zonerecherche a {
    display: none;
  }

  .logo-rechercher {
    display: block;
    background-color: #0065fc;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  /* filtres mobile */

  .eco i,
  .familial i,
  .romantique i,
  .animaux i {
    width: 35px;
    height: 28px;
    border: none;
    background-color: #deebff;
    border-radius: 50px;
    text-align: center;
    padding-top: 9px;
    color: #0065fc;
  }

  .eco span,
  .familial span,
  .romantique span,
  .animaux span {
    display: flex;
    margin: 0 0 21px -25px;
    padding: 6px 17px 6px 30px;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .eco:hover,
  .familial:hover,
  .romantique:hover,
  .animaux:hover {
    color: #0065fc;
  }

  #section-filtres {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-left: 10px;
    margin-right: 200px;
  }

  .filtres {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 15%;
    margin-top: 10%;
    font-weight: bold;
    font-size: 18px;
  }

  .eco {
    grid-column-start: 1;
    grid-row-start: 2;
    font-weight: bold;
  }

  .familial {
    grid-column-start: 2;
    grid-row-start: 2;
    font-weight: bold;
  }

  .romantique {
    grid-column-start: 1;
    grid-row-start: 3;
    font-weight: bold;
  }

  .animaux {
    grid-column-start: 1;
    grid-row-start: 4;
    font-weight: bold;
  }

  /* container */

  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
  }

  .les-plus-populaires {
    width: 87%;
    height: auto;
  }

  .hebergements-a-marseille {
    width: 90%;
    height: auto;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .hotel-de-la-mer img {
    height: 80%;
  }

  .hotel-chez-amina img {
    height: 50%;
  }

  .afficher-plus {
    font-size: 25px;
  }

  /*activités à Marseille */

  .activites-a-marseille {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -1%;
  }

  .btn-activites-a-marseille {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 1%;
  }

  .btn-activites-a-marseille a {
    color: black;
  }

  .image-vieux-port {
    height: 70%;
  }

  .btn-vieux-port {
    margin-bottom: 15%;
    margin-left: 3%;
  }

  .btn-vieux-port a {
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .image-fort-de-pomegues {
    height: 40%;
  }

  .btn-fort-de-pomegues {
    margin-bottom: 15%;
    margin-left: 3%;
  }

  .btn-fort-de-pomegues a {
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .image-iles-du-frioul {
    height: 60%;
  }

  .btn-iles-du-frioul {
    margin-bottom: 15%;
    margin-left: 3%;
  }

  .btn-iles-du-frioul a {
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .image-parc-national-des-calanques {
    height: 70%;
  }

  .btn-parc-national-des-calanques {
    margin-bottom: 15%;
    margin-left: 3%;
  }

  .btn-parc-national-des-calanques a {
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .image-notre-dame-de-la-garde {
    height: 70%;
  }

  .btn-notre-dame-de-la-garde {
    margin-bottom: 15%;
    margin-left: 3%;
  }

  .btn-notre-dame-de-la-garde a {
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .image-parc-longchamp {
    height: 70%;
  }

  .btn-parc-longchamp {
    margin-bottom: 15%;
    margin-left: 3%;
  }

  .btn-parc-longchamp a {
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  .footer {
    margin-bottom: 1%;
  }
}
