body {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

body a {
  text-decoration: none;
  color: black;
}

.fa-star {
  color: #0065fc;
}

/* header */

.sidebar img {
  width: 6rem;
}

.logo {
  margin-left: 2rem;
  margin-top: 20px;
}

.btn-inscrire {
  font-size: 16px;
  font-weight: bold;
  color: #0065fc;
  margin-top: 33px;
  margin-right: 3rem;
  margin-left: 3%;
}

.sidebar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 5rem;
}
.sidebar ul {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 40%;
}

.sidebar ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40%;
  height: 90%;
  padding-top: 2rem;
  font-size: 16px;
  list-style-type: none;
  margin-right: -10%;
}

.sidebar ul li a {
  margin-left: 3%;
}

ul li a:hover {
  color: #0065fc;
}

ul li:hover {
  border-top: 2px solid #0065fc;
  border-top-width: 3px;
}

/* article desktop */

.titre h2 {
 margin-left: 2rem;
}

.titre p {
  margin-left: 2rem;
  margin-top: -1rem;
}

.titre h2 br {
  display: none;
}

.fa-info-circle {
  color: #0065fc;
  background-color: white;
}

/* localisation */

.loc {
  border: #f2f2f2 solid;
  border-width: 1px;
  border-radius: 15px;
  width: 27rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

#zonerecherche {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.fa-map-marker-alt {
  font-size: 18px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 4% 5%;
  background-color: #f2f2f2;
}

input {
  font-size: 17px;
  font-weight: bold;
  border: none;
}

#ville::placeholder {
  color: black;
  padding-left: 5%;
}

.loc a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 95%;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  background-color: #0065fc;
  border: #0065fc solid;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

#zonerecherche p {
  width: 5%;
  border: #0065fc solid;
  border-radius: 15px;
  padding: 3% 3%;
  font-size: 17px;
  color: white;
  background-color: #0065fc;
}

#zonerecherche p {
  display: none;
}

/* filtres */

.filtres {
  width: 55rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -2rem;
}
.filtres a {
  font-size: 17px;
  font-weight: bold;
  margin-left: 5rem;
}

.filtres i {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #d3d3d3;
  padding: 11px 11px;
  color: #0065fc;
  background-color: #deebff;
}

.filtres span a {
  font-weight: bold;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: lightgrey;
  border-left: hidden;
  padding: 8px 25px 8px 25px;
  margin-left: -22px;
}

.filtres span a:hover {
  color: #0065fc;
}

/* plus de 500 logements... */

.info {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.info span {
  margin-left: 1%;
}

.info i {
  font-size: 23px;
  color: white;
  background-color: blue;
  border: #494444 solid;
  border-width: 1px;
  border-radius: 15rem;
}

/* hébergements à Marseille */

.cartes-hebergements {
  width: 100%;
  height: 34rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  grid-gap: 2%;
  justify-content: center;
  background-color: #f2f2f2;
}

.cartes-hebergements:hover {
  cursor: pointer;
}

.cartes-hebergements div {
  background-color: white;
  height: 15rem;
  margin-top: 2%;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
}

.cartes-hebergements img {
  width: 97%;
  height: 55%;
  padding: 1%;
  border: white solid;
  border-width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.cartes-hebergements div a {
  font-size: 17px;
  font-weight: bold;
  margin-left: 1rem;
  display: flex;
  margin-bottom: 2%;
}

.cartes-hebergements div p {
  margin-top: -1rem;
  margin-left: 1rem;
  display: flex;
  margin-bottom: 10%;
}

.cartes-hebergements div span {
  margin-top: -2rem;
  margin-left: 1rem;
  display: flex;
}

.hebergements {
  width: 63%;
  height: 44rem;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.hebergements h3 {
  margin-left: 2rem;
  padding-top: 1rem;
}
.plus {
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: bold;
}

/* les plus populaires */

.cartes-pop div {
  width: 90%;
  height: 10rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 33% 33% 33% 1%;
  margin-bottom: 12%;
  margin-left: 5%;
}

.cartes-pop img {
  width: 100%;
  height: 285%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  padding: 4%;
}

.cartes-pop a {
  grid-column-start: 2;
  grid-row-start: 1;
  font-size: 17px;
  font-weight: bold;
  margin: 5%;
}

.cartes-pop p {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 5%;
}

.cartes-pop span {
  grid-column-start: 2;
  grid-row-start: 3;
  margin: 5%;
}

.cartes-pop:hover {
  cursor: pointer;
}

.les-plus-populaires {
  width: 29%;
  height: 44rem;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.les-plus-populaires h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 6%;
}

.les-plus-populaires h3 a {
  margin-left: 1rem;
}

.les-plus-populaires h3 i {
  margin-right: 2rem;
}

/*main*/

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  margin-left: 2%;
  margin-right: 1%;
}

/* activités à Marseille */

.activites {
  margin-bottom: 2rem;
  margin-left: 1%;
}
.activites h3 {
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}

.cartes-activites {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 3%;
  justify-items: stretch;
  align-items: stretch;
}

.cartes-activites:hover {
  cursor: pointer;
}

.cartes-activites img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 3%;
}

.cartes-activites div {
  padding-bottom: 3rem;
  border-radius: 15px;
  box-shadow: 0px 5px 5px lightgrey;
}

.cartes-activites a {
  font-size: 16px;
  font-weight: bold;
  margin-left: 1rem;
  display: flex;
}

.port {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 15;
}

.fort {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 9;
}

.ile {
  grid-column-start: 2;
  grid-row-start: 10;
  grid-row-end: 15;
}

.calanques {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 15;
}

.garde {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 7;
}
.parc {
  grid-column-start: 4;
  grid-row-start: 8;
  grid-row-end: 15;
}

/* footer */

.bas-de-page {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  grid-gap: 8px;
}

.a-propos {
  grid-column-start: 1;
  margin-left: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.nos-hebergements {
  grid-column-start: 2;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.assistance {
  grid-column-start: 3;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.bas-de-page a {
  margin-bottom: 3%;
}

/* media queries tablet */

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* sidebar tablet*/
  body {
    width: 91%;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    position: relative;
    top: -29%;
    margin-left: 3rem;
  }

  .btn-inscrire {
    position: absolute;
    top: -1rem;
    left: 75%;
  }

  .btn-inscrire:hover {
    border: none;
  }

  .sidebar ul {
    list-style-type: none;
    display: flex;
    margin-left: -65%;
    margin-top: 2rem;
    height: 3rem;
  }

  .sidebar ul li {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    border-bottom: #f2f2f2 solid;
  }

  ul li a:hover {
    color: #0065fc;
  }

  ul li:hover {
    border-top: none;
    border-bottom: solid #0065fc;
    border-bottom-width: 3px;
  }

  /* info tablet */

  .info {
    margin-top: -1rem;
    margin-bottom: -4rem;
  }

  /* filtres tablet */

  .filtres-btn {
    position: absolute;
    top: 20rem;
    right: 82%;
  }

  .filtres-btn a {
    font-size: 20px;
  }

  .filtres-btn :hover {
    color: blue;
  }

  .eco {
    position: absolute;
    top: 20rem;
    left: 22%;
  }

  .familial {
    position: absolute;
    top: 20rem;
    left: 55%;
  }

  .romantique {
    position: absolute;
    top: 23rem;
    left: 22%;
  }

  .animaux {
    position: absolute;
    top: 23rem;
    left: 55%;
  }

  /* les plus populaires tablet */

  .les-plus-populaires {
    margin-left: -43%;
    width: 146%;
    height: 25rem;
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
  }

  .cartes-pop {
    display: flex;
    flex-direction: row;
  }
  .cartes-pop div {
    display: flex;
    flex-direction: column;
    height: 65%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .cartes-pop img {
    width: 98%;
    height: 7rem;
    padding: 1%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }

  .cartes-pop div a {
    margin-top: 1%;
  }

  .cartes-pop div p {
    margin-top: -3%;
    margin-bottom: -2%;
  }
  .cartes-pop div span {
    padding-bottom: 4rem;
  }

  main {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 70%;
    margin-left: 6%;
  }

  /* Hébergements à Marseille tablet */

  .hebergements {
    margin-top: 5rem;
    width: 340%;
    grid-row-start: 2;
    grid-column-start: 1;
  }

  /*Activités à Marseille tablet */

  .activites {
    width: 100%;
    height: 38rem;
    margin-top: -4rem;
    margin-left: 5%;
  }
  .cartes-activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  .port {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .fort {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 1rem;
  }

  .ile {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .calanques {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 1rem;
  }

  .garde {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .parc {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: 1rem;
  }

  .cartes-activites div {
    width: 100%;
    height: 13rem;
  }

  .bas-de-page {
    width: 103%;
  }
}

/* media queries mobile */

@media only screen and (min-width: 351px) and (max-width: 600px) {
  /* header mobile */

  body {
    width: 88%;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104%;
  }

  .logo {
    position: relative;
    top: -29%;
    left: -5%;
  }

  .btn-inscrire {
    position: absolute;
    top: -1rem;
    left: 65%;
  }

  .btn-inscrire:hover {
    border: none;
  }

  .sidebar ul {
    list-style-type: none;
    display: flex;
    margin-left: -79%;
    margin-top: 2rem;
    height: 3rem;
  }

  .sidebar ul li {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    border-bottom: #f2f2f2 solid;
  }

  ul li a:hover {
    color: #0065fc;
    }

  ul li:hover {
    border-top: none;
    border-bottom: solid #0065fc;
    border-bottom-width: 3px;
  }
  /* article mobile*/

  .titre {
    margin-left: -3%;
  }

  .titre h2 {
    font-size: 22px;
  }

  .titre p {
    font-size: 16px;
  }
  /* localisation mobile*/

  .loc {
    width: 19rem;
    height: 3rem;
    margin-left: -1%;
  }
  .loc a {
    display: none;
  }

  .fa-map-marker-alt {
    padding: 5% 6%;
  }

  #zonerecherche p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    border: #0065fc solid;
    border-radius: 15px;
    padding: 4% 5%;
    font-size: 17px;
    color: white;
    background-color: #0065fc;
  }

  /* filtres mobile */

  .filtres {
    width: 120%;
    position: relative;
  }

  .filtres-btn {
    position: absolute;
    top: 1rem;
    left: -3rem;
  }

  .eco {
    position: absolute;
    top: 3rem;
    left: 2rem;
  }

  .familial {
    position: absolute;
    top: 3rem;
    left: 12rem;
    margin-left: 6%;
  }

  .familial span {
    margin-left: -7px;
    padding: 8px 15px 8px 5px;
  }

  .romantique {
    position: absolute;
    top: 6rem;
    left: 2rem;
  }

  .animaux {
    position: absolute;
    top: 9rem;
    left: 2rem;
  }
  /* plus de 500...mobile */
  .info {
    margin-top: 12rem;
  }
  .info i {
    margin-left: -3rem;
  }

  .info span {
    font-size: 16px;
    padding-left: 2%;
    padding-top: 6%;
  }

  article {
    margin-left: 1rem;
  }
  /* main mobile */

  /*Les plus populaires mobile*/

  .les-plus-populaires {
    width: 113%;
    height: auto;
    align-content: center;
    justify-content: center;
    border-radius: 0px;
    margin-left: -2%;
  }

  .cartes-pop div {
    height: 10rem;
    margin-bottom: 2rem;
  }

  .cartes-pop img {
    height: 290%;
    padding: 3%;
  }

  .les-plus-populaires h3 {
    font-size: 20px;
  }

  /* Hébergements mobile*/

  .hebergements {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .cartes-hebergements {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 100%;
    background-color: white;
    margin-left: 8%;
  }
  .cartes-hebergements div a {
    margin-bottom: 1rem;
  }

  .cartes-hebergements div p {
    margin-bottom: 1rem;
  }
  .cartes-hebergements div span {
    margin-top: -1rem;
  }

  .plus {
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .hebergements h3 {
    margin-left: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  /* Activités mobile*/

  .activites {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    margin-top: -3rem;
    margin-left: 2%;
  }

  .activites h3 a {
    margin-left: -1%;
  }

  .cartes-activites {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 8%;
  }

  .cartes-activites div {
    height: 11rem;
    margin-bottom: 2rem;
  }

  .cartes-activites img {
    width: 100%;
    height: 11rem;
  }

  /* footer mobile */

  .bas-de-page {
    width: 113%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: -1rem;
  }
  .bas-de-page div {
    margin-left: 2rem;
  }

  .bas-de-page a {
    margin-top: 1%;
  }
}

/* media queries Xs mobile */

@media only screen and (min-width: 100px) and (max-width: 350px) {

  body {
    width: 87%;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104%;
  }

  .logo {
    position: relative;
    top: -29%;
    left: -5%;
  }

  .btn-inscrire {
    position: absolute;
    top: -1rem;
    left: 65%;
  }

  .btn-inscrire:hover {
    border: none;
  }

  .sidebar ul {
    list-style-type: none;
    display: flex;
    margin-left: -79%;
    margin-top: 2rem;
    height: 3rem;
  }

  .sidebar ul li {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    border-bottom: #f2f2f2 solid;
  }

  ul li a:hover {
    color: #0065fc;
    }

  ul li:hover {
    border-top: none;
    border-bottom: solid #0065fc;
    border-bottom-width: 3px;
  }
  /* article  Xs mobile*/

  .titre {
    margin-left: -3%;
  }

  .titre h2 {
    font-size: 22px;
  }

  .titre p {
    font-size: 16px;
  }
  /* localisation Xs mobile*/

  .loc {
    width: 15rem;
    height: 3rem;
    margin-left: -2%;
  }
  .loc a {
    display: none;
  }

  .fa-map-marker-alt {
    padding: 7% 6%;
  }

  #zonerecherche p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    border: #0065fc solid;
    border-radius: 15px;
    padding: 5% 6%;
    font-size: 17px;
    color: white;
    background-color: #0065fc;
    margin-left: -15%;
  }

  /* filtres Xs mobile */

  .filtres {
    width: 120%;
    position: relative;
  }

  .filtres-btn {
    position: absolute;
    top: 1rem;
    left: -3rem;
  }

  .eco {
    position: absolute;
    top: 3rem;
    left: 2rem;
  }

  .familial {
    position: absolute;
    top: 6rem;
    left: 2rem;
    
  }

  .familial span {
    margin-left: -18px;
    padding: 8px 25px 8px 25px;
  }

  .romantique {
    position: absolute;
    top: 9rem;
    left: 2rem;
  }

  .animaux {
    position: absolute;
    top: 12rem;
    left: 2rem;
  }
  /* plus de 500...Xs mobile */
  .info {
    margin-top: 16rem;
  }
  .info i {
    margin-left: -3rem;
  }

  .info span {
    font-size: 16px;
    padding-left: 2%;
    padding-top: 6%;
  }

  article {
    margin-left: 1rem;
  }
  /* main Xs mobile */

  /*Les plus populaires Xs mobile*/

  .les-plus-populaires {
    width: 113%;
    height: auto;
    align-content: center;
    justify-content: center;
    border-radius: 0px;
    margin-left: -2%;
  }

  .cartes-pop div {
    height: 10rem;
    margin-bottom: 2rem;
  }

  .cartes-pop img {
    height: 290%;
    padding: 3%;
  }

  .les-plus-populaires h3 {
    font-size: 20px;
  }

  /* Hébergements Xs mobile*/

  .hebergements {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .cartes-hebergements {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 100%;
    background-color: white;
    margin-left: 8%;
  }
  .cartes-hebergements div a {
    margin-bottom: 1rem;
  }

  .cartes-hebergements div p {
    margin-bottom: 1rem;
  }
  .cartes-hebergements div span {
    margin-top: -1rem;
  }

  .plus {
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .hebergements h3 {
    margin-left: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  /* Activités Xs mobile*/

  .activites {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    margin-top: -3rem;
    margin-left: 2%;
  }

  .activites h3 a {
    margin-left: -1%;
  }

  .cartes-activites {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 8%;
  }

  .cartes-activites div {
    height: 11rem;
    margin-bottom: 2rem;
  }

  .cartes-activites img {
    width: 100%;
    height: 11rem;
  }

  /* footer Xs mobile */

  .bas-de-page {
    width: 113%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: -1rem;
  }
  .bas-de-page div {
    margin-left: 2rem;
  }

  .bas-de-page a {
    margin-top: 1%;
  }
}

 

}
 