body {
  margin: 0px;
  padding: 0px;
  border:  white solid;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

body a {
  text-decoration: none;
  color: black;
}

.fa-star {
  color: #0065fc;
}

/* header */

.sidebar img {
width: 80%;
margin-top: 10%;
}

.btn-inscrire a {

  font-weight: bold;
  color: #0065fc;
}

.sidebar{
  display: flex;
  justify-content: space-between;
}

.sidebar ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.sidebar ul li {
  width: 30%;
  height: 100%;
  padding-left: 9%;
  padding-top: 5%;
  font-size: 16px;
}
 
ul li a:hover {
  color: #0065fc;
}

ul li:hover {
  border-top: 2px solid #0065fc;
  border-top-width: 2px;
}


hr {
  display: none;
}

/* section 1 */

.titre h2 br {
  display: none;
}

.fa-info-circle {
  color: blue;
  background-color: white;
}

/* localisation */

.localisation {
  margin-left: 10px;
  margin-right: 600px;
  margin-bottom: 2rem;
}

#zonerecherche {
  font-size: 1.2em;
  display: flex;
  margin-top: 1em;
  height: 40px;
}

#zonerecherche i {
  color: black;
  background-color: #f2f2f2;
  border-radius: 25% 0 0 25%;
  width: 40px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.logo-rechercher {
  display: none;
}

#zonerecherche input {
  width: 300px;
  border: 2px solid #f2f2f2;
  font-size: 1rem;
  font-weight: bold;
}

#zonerecherche a {
  text-decoration: none;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  width: 6em;
  padding-left: 1em;
  padding-right: 1em;
  color: #f2f2f2;
  font-size: 1em;
  display: flex;
  align-items: center;
}

/* filtres */

.filtres {
  width: 67rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filtres a {
  font-size: 17px;
  font-weight: bold;
  margin-left: 5rem;
}

.filtres i {
  border-radius: 40px;
  box-shadow: 0px 0px 5px #d3d3d3;
  padding: 10px 10px;
  color: Blue;
  background-color: #deebff;
}

.filtres span {
  font-weight: bold;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: #f2f2f2;
  border-left: hidden;
  padding: 8px 25px 8px 25px;
  margin-left: -25px;
}

/* plus de 500 logements... */

.info {
  margin: 10px 35px 0 35px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.info span {
  display: flex;
  margin: 0 0 0 8px;
}

/* hébergements à Marseille */


.cartes-h {
  width: 100%;
  height: 34rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  grid-gap: 2%;
  justify-content: center;
  background-color: #F2F2F2;
}

.cartes-h div {
  background-color: white;
  height: 15rem;
  margin-top: 2%;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  display: flex;
  flex-direction: column;
}

.cartes-h img {
  width: 97%;
  height: 55%;
  padding: 1%;
  border: white solid;
  border-width: 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.cartes-h div a {
  font-size: 17px;
  font-weight: bold;
 margin-left: 5%;
 margin-top: -4%;
}

.cartes-h div p {

margin-top: -4%;
margin-left: 6%;
}

.cartes-h div span p  {
  
 margin-top: -8%;
 margin-left: 5%;
}

section2 {
  width: 63%;
  height: 44rem;
  background-color: #f2f2f2;
  border-radius: 15px;
}

section2 h3 {
  margin-left: 3%;
  padding-top: 2%;
}
 .plus{
  margin-left: 4%;
  margin-top: 3%;
  font-size: 18px;
  font-weight: bold;
}

/* les plus populaires */

.cartes-pop div {
  width: 90%;
  height: 160px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 33% 33% 33% 1%;
  margin-bottom: 12%;
  margin-left: 5%;
}

.cartes-pop img {
  width: 100%;
  height: 154px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  padding: 3%;
}

.cartes-pop a {
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 6%;
  margin-top: 4%;
  font-size: 17px;
  font-weight: bold;
}

.cartes-pop p {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-left: 6%;
}

.cartes-pop span {
  grid-column-start: 2;
  grid-row-start: 3;
  margin-left: 1%;
}

section1 {
  width: 29%;
  height: 44rem;
  background-color: #f2f2f2;
  border-radius: 15px;
}

section1 h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 6%;
}

section1 h3 a {
  margin-left: 1rem;
}

section1 h3 i {
  margin-right: 2rem;
}


/*main*/

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

/* activités à Marseille */

aside {
  margin-bottom: 2rem;
}
aside h3 {
  margin-left: 3%;
  font-weight: bold;
  font-size: 20px;
}

.cartes-activites {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 3%;
  justify-items: stretch;
  align-items: stretch;
}
  
.cartes-activites img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 3%;

} 

.cartes-activites div {
  padding-bottom: 18%;
  border-radius: 15px;
  box-shadow: 0px 5px 5px lightgrey;
}

.cartes-activites a {
  font-size: 16px;
  font-weight: bold;
  margin-left: 6%;
}

.port {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 15;
}

.fort {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 9;
}

.ile {
  grid-column-start: 2;
  grid-row-start: 10;
  grid-row-end: 15;
}

.calanques {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 15;
}

.garde {

  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 7;
 }
.parc {
  grid-column-start: 4;
  grid-row-start: 8;
  grid-row-end: 15;
}



/* footer */

.bas-de-page {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  grid-gap: 8px;
}

.a-propos {
  grid-column-start: 1;
  margin-left: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.nos-hebergements {
  grid-column-start: 2;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.assistance {
  grid-column-start: 3;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

/* media queries mobile */

@media only screen and (min-width: 100px) and (max-width: 780px) {
  /* header mobile */

  .logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 5rem;
  }

  .logo img {
    width: 6rem;
  }
  ul{
    grid-template-columns: 1fr 1fr;
  }
  .btn-inscrire a {

    font-weight: bold;
    font-size: 17px;
    color: #0065fc;
  } 

.sidebar{
  display: flex;
  justify-content: space-between;
}
  .sidebar ul {

  }

  .sidebar ul li {
 
  }
  .titre {
    margin-left: 2rem;
  }

  .titre h2 {
    font-size: 22px;
  }

  .titre p {
    font-size: 16px;
  }

  /* filtres mobile */

  .filtres {
    width: 100%;
    position: relative;
    margin-bottom: 13rem;
  }

  .filtres-btn {
    position: absolute;
    top: 1rem;
    left: -3rem;
  }

  .eco {
    position: absolute;
    top: 3rem;
    left: 2rem;
  }

  .familial {
    position: absolute;
    top: 3rem;
    left: 14rem;
  }

  .romantique {
    position: absolute;
    top: 6rem;
    left: 2rem;
  }

  .animaux {
    position: absolute;
    top: 9rem;
    left: 2rem;
  }

  .info {
    margin-left: 2rem;
  }

  .info span {
    font-size: 14px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  section {
    padding: 0;
    width: 99%;
    height: 36rem;
    border: red solid;
    background-color: #f2f2f2;
    
  }

  .cartes-pop {
    display: flex;
    flex-direction: column;
    border: yellow solid;
    width: 98%;
    height: 31rem;

    

  }

  .cartes-pop div {
    margin: 2%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.cartes-pop a {
  font-size: 17px;
}



    

    
  }

 


}
